
table {
    border-collapse: collapse;
    width: 220px;
}
th, td {
    text-align: left;
    padding: 8px;
}
table tr:nth-child(odd):not(:first-child) {
    background-color: #dddddd;
}
main {
    padding: 16px;
    flex-grow: 1;
}


body {
    margin: 0;
    padding: 0;
    background-color: #fff2cc;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: #f1d3b3;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    font-weight: bold;
    text-align: right;
}

.recipe-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}

a {
    text-decoration: none;
    color: #ff8400;
}

footer {
    padding: 20px;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    background-color: #ffdca9;
    color: brown;
    font-weight: bold;
    text-align: center;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 10px;
}
a:hover {
    color: red;
}
img {
    width: 203px;
    height: 200px;
}

.recipe-item {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 10px 5px 5px #dfa67b;
    text-align: center;
}

.recipe-item img {
    display: block;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    color: #1c6758;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

label, input, textarea {
    margin-bottom: 16px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 8px;
    border: none;
    border-radius: 4px;
}
button[type="submit"] {
    padding: 8px;
    background-color: #f28705;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #d97402;
}

.contact {
    text-align: center;
    }
.recipe-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
      }
#steps {
    text-align: center;
      }

#steps ol {
    text-align: left;
}
